@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(56, 52, 52), rgb(240, 216, 240));
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */

  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}

/* CATEGORY SECTION STARTS  */

.about {
  margin-top: 50px;
  display: flex;
  font-weight: 1000;
  justify-content: center;
  color: #333;
}

#name {
  border: 5px;
  margin: 5px;
  font-size: 1.5rem;
}

.product-page {
  /* display: flex; */
  width: auto;
  height: auto;
  border: 5px;
  margin: 80px 80px;
  background: linear-gradient(to right, rgb(235, 162, 162), rgb(179, 174, 179));
}

/* Clear floats after image containers */
.row {
  padding: 10px;
  border-width: 3px;
  margin-bottom: 0px;
  /* content: ""; */
  /* clear: both; */
  justify-content: center;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/* next animation */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.card {
  margin: auto;
  margin-top: 65px;
  display: flex;
  position: relative;
  width: 70%;
  height: 190px;
  background: rgb(250, 250, 250);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.38);
  transition: 0.5s;
  /* justify-content: space-between; */
  z-index: 1;
}

.card:hover {
  margin-top: 140px;
  width: 85%;
  height: 350px;
  margin-top: 4rem;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -24%;
  transform: translateX(-50%);
  width: 136px;
  height: 136px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .imgBx {
  width: 200px;
  height: 200px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ====================Content CSS============================== */

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 1s;
  transform: translateY(150px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.944);
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: rgb(49, 49, 49);
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .data h3 span {
  color: #000;
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .content .details .actionBtn a {
  width: 50%;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.9em;
  font-weight: 400;
  background: #0092ca;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.card .content .details .actionBtn a:hover {
  background: #00b3fa;
  color: #fff;
}

.card .content .details .actionBtn a:nth-child(2) {
  border: 1px solid #5c5c5c;
  color: #fff;
  background: #12be21;
  transition: 0.3s;
}

.card .content .details .actionBtn a:hover:nth-child(2) {
  color: rgb(255, 255, 255);
  background: #4f4f4f;
}

/* next animation ends  */


/* CATEGORY SECTIONN ENDS  */

/* Media Queries */

@media (max-width: 768px) {
  .icon-bar {
    width: 50px;
  }

  .float-container {
    margin: 20px 10px ;
  }

  .catalouge-item {
		margin-left: 20%;
		overflow: hidden;
		top: 50%;
		padding: 3px;
		width: 60%;
		height: 210px;
		background: linear-gradient(to right, red, purple);
		justify-content: center;
	}

  .container {
    width: auto;
    height: 260px;
    border: 5px;
    margin: 10px 10px;
    background: linear-gradient(to right, rgb(235, 162, 162), rgb(179, 174, 179));
  }

  .product-page {
    margin: 20px;
    margin-right: 40px;
    width: auto;
    height: auto;
    border: 5px;
    background: linear-gradient(to right, rgb(235, 162, 162), rgb(179, 174, 179));
    border-radius: 10px;
  }

  .column img {
    width: 100%;
    /* height: 170px; */
  }

  .text {
    text-align: center;
  }

  .float-child {
    flex: 50%;
    max-width: 33%;
    background-image: linear-gradient(to right, #c9c5b3 , rgb(166, 166, 237));
    padding: 5px;
    box-shadow: 0px 5px 10px 5px rgb(80, 19, 19);
    height: 40%;
  }

    .imgBx {
      width: 120px;
      height: 120px;
      /* margin-bottom: 0px; */
    }
    
    .card:hover .imgBx {
      width: 150px;
      height: 150px;
    }

    .card .content .details {
      margin-top: 0px;
      /* padding: 10px; */
    }
    

  .card .content .details .data {
    margin: 10px 10px;
  }
    
  /* .card .content .details .data h3 {
    font-size: 0.7em;
    line-height: 0.8em;
    font-weight: 400;
  } */
    
  .card .content .details .data h3 span {
    font-size: 0.8em;
    font-weight: 400;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 65%;
  }
  
  .row {
    grid-template-columns: 100%;
  }

  .card {
    margin-left: auto;
    margin-right: auto; 
    height: 130px;
  }

  .card:hover {
    margin-top: 100px;
    width: 95%;
    height: 300px;
  }

  .card .content .details {
    padding: 35px 20px 80px 20px;
  }

  .card .content .details:hover {
    padding: 35px 20px 20px 20px;
  }
  /* .card:hover {

  } */

  .imgBx {
    width: 90px;
    height: 90px;
    /* margin-bottom: 0px; */
  }
  
  .card:hover .imgBx {
    width: 200px;
    height: 200px;
  }

  .card .content .details {
    /* margin-top: 0px; */
    padding-top: 10px;
  }
  

  /* .card .content .details .data {
    margin: 10px 10px;
  } */
  
  /* .card .content .details .data h3 {
    font-size: 0.7em;
    line-height: 0.8em;
    font-weight: 400;
  } */
  
  .card .content .details h2 {
    font-size: 1.5em;
    font-weight: 800;
  }
  
  .card .content .details h2 span {
    font-size: 0.8em;
    font-weight: 500;
  }

  .card .content .details .data h3 span {
    font-size: 1em;
    font-weight: 500;
  }

  .card .content .details .actionBtn {
    gap: 5px;
  }

  .card .content .details .actionBtn a {
    padding: 5px;
    font-size: 1.5em;
    font-weight: 500;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}


/* try for icons stick */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-30%);
  transform: translateY(-10%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: #12be21;
  color: white;
}

.icon-bar ion-icon {
  font-size: 25px;
}