@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  /* background: linear-gradient(to right, rgb(180, 173, 173), rgb(240, 216, 240)); */
  background: #D5DCE4;
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

.about {
  margin-top: 100px;
  display: flex;
  font-weight: 1000;
  justify-content: center;
  color: #333;
}

.contact {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

.paragraph {
  display: flex;
  justify-content: center;
  margin: 28px 40px 10px 0px;
  font-family: 'Candal', sans-serif;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500%;
  font-size: 2rem;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 50px;
}

i.fa-solid.fa-address-book::before{
  margin: 25px 15px 25px 10px;
  display: inline;
  display: block;
  font-size: larger;
}

i.fa-solid.fa-phone {
  margin: 0px 5px 0px 20px;
}

i.fa-solid.fa-location-dot::before{
  margin: 25px 15px 25px 10px;
  display: inline;
  display: block;
  font-size: larger;
}

.map {
  text-align: center;
  width: auto;
  height: auto;
}

.map iframe  {
  border: 5px solid #000;
  width: 90%;
  height: 40%;
}

a{
  /* font-size: larger; */
  font-weight: bold;
}