*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Google Sans Regular";
	box-sizing: border-box;
	font-family: open sans;
	transition: ease 0.5s;
	text-decoration: none;
	color: white;
	list-style-type: none;
}
  

/* body{
	background :rgb(94, 71, 71);
	display: block;
} */

header{
	width: 100%;
	height: 60px;
	background: dimgrey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}

.logo{
	font-size: 28px;
	font-weight: bold;
	color: #fefefe;
}

.hamburger{
	display: none;
}

.nav-bar ul{
	display: flex;
}

.nav-bar ul li a {
	display: block;
	color :white;
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 50px;
	transition: 0.2s;
	margin: 0 5px;
}

.nav-bar ul li a:hover{
	color: black;
	background: white;
}

.nav-bar ul li a.active{
	color: black;
	background: white;
}



/* Slideshow container
.slideshow-container {
  width: 100%;
  position: relative;
  margin-top: 0px;
}

Hide the images by default
.mySlides {
  display: none;
  width: 100%;

}

/* .img1 {
	display: flex;
	width: 100%;
	height: 300px;
	padding: 20px 15px 20px;
}
/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover { */
  /* background-color: rgba(0,0,0,0.8); */
/* }  */



/* Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dots {
	position: absolute;
	display: flex;
	right:50%

} */
/* .dot {
  top:-45px;
  position: relative;
  justify-content: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;	
  transition: background-color 0.6s ease;
  /* margin: 0 2px; */
/* }  */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/***************************/new slider
 */

/*
    ================================
        Best Viewed In Full Page
https://codepen.io/AbubakerSaeed/pen/QWjYYmB
    ================================
*/

/* Change slides by clicking on those grayish lines using mouse, can use keyboard arrows too :) */

/* It's not responsive, so check it out in big/large screen */

/* FONT */
/* ========================================================================== */



/* DEFAULTS */
/* ========================================================================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  background: hsl(0 0% 98%);
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}




/* C */
/* ========================================================================== */
.c {
  
  min-width: 430px;
  width: 430px;
  height: 500px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0 0% 90%);

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
	
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}









/***************************************/

/* .homepage-containers{
	border: 3px solid #fff;
    padding: 20px;
} */

/* .door-homepage{
	border: 2px solid red;
	width: 25%;
}
.ply-homepage{
	border: 2px solid red;
	width: 25%;
}
.laminates-homepage{
	border: 2px solid red;
	width: 25%;
}
.glass-homepage{
	border: 2px solid red;
	width: 25%;
} */

/* .float-container {
    display: flex;
    flex-wrap: wrap;
	border: 2px rgb(32, 166, 203);
}

.door-img {
	margin: 10% 20%;
	width: 250px;
	width: 60%;
	height: 75%;
	padding: 3px;
	background: linear-gradient(to right, red, purple);
}
.ply-img {
	margin: 10% 20%;
	padding: 3px;
	width: 60%;
	height: 75%;
	background: linear-gradient(to right, red, purple);
}
.laminates-img {
	margin: 10% 20%;
	padding: 3px;
	width: 60%;
	height: 75%;
	background: linear-gradient(to right, red, purple);
	
}
.glass-img {
	margin: 10% 20%;
	padding: 3px;
	width: 60%;
	height: 75%;
	background: linear-gradient(to right, red, purple);
}

.text {
	text-align: center;
	padding-bottom: 10px;
	font-family: Brush Script MT;
	font-size: 1.5em;
	font-style: italic	;
} */

/* .float-child {
    width: 25%;
	display: block;
    float: left;
    padding:20px;
	background-image: linear-gradient(to right, #c9c5b3 , rgb(166, 166, 237));
	border: 4px solid rgb(234, 80, 90);
}   */

#footer > p:first-child {
	 float: left; 
	 text-align: left; 
	 width: 33.3%; 
}

#footer > p:nth-child(2) {
	float: left; 
	text-align: center; 
	width: 33.4%; 
} 

#footer > p:last-child { 
	float: right; 
	text-align: right; 
	width: 33.3%; 
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
	background: #343b4e;
}

footer {
  background: #1e3161;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: #2f4374 0 10px 20px 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
}
.col1 a:hover {
  color: #58bed5;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 20px;
}
.col3 ion-icon {
  font-size: 30px;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}





@media only screen and (max-width: 1320px){
	header{
		padding: 0 50px;
	}
}

@media only screen and (max-width: 1100px){
	header{
		padding: 0 30px;
	}
	.logo{
		font-size: 15px;
		font-weight: bold;
		color: #fefefe;
	}
}

@media only screen and (max-width: 900px){
	header{
		padding: 0 20px;
	}
	.logo{
		font-size: 15px;
		font-weight: bold;
		color: #fefefe;
	}
}

@media only screen and (max-width: 450px){
	/* .slideshow-container {
		display:none;
	} */
	.logo{
		font-size: 15px;
		font-weight: bold;
		color: #fefefe;
	}
	.hamburger{
		display: block;
		cursor: pointer;
	}

	.hamburger .line{
	    width: 30px;
	    height: 3px;
		background: red;
		margin: 8px 0;
	}

	.nav-bar{
		height: 0;
		position: absolute;
		top: 45px;
		left:0;
		right: 0;
		width: 100vw;
		background: dimgrey;
		transition: 0.2s;
		/* overflow: hidden; */
		
	}
	.nav-bar.active{
		margin-top: 10px;
		height: 300px;
	}
	
	.nav-bar ul{
		display: block;
		width: fit-content;
		margin: 75px auto 0 auto;
		text-align: center;
		transition: 0.5s;
		opacity: 0;
		
	}
	.nav-bar.active ul{
		opacity: 1;
	}

	.nav-bar ul li a{
		margin-bottom:12px ;
	}
	.c {
		display: block;
	}
}